/* style.css */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-35%) translateX(-50%);
  border: 1px dashed #fff;
}

.author {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: 'Great Vibes', serif;
  font-size: 1.5em;
}

#msg {
  color: #fff;
  font-size: 3em;
  font-family: 'Great Vibes', serif;
  text-align: center;
  padding-top: 3%;
}
